<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VegeSina</title>
    <!-- <link rel="shortcut icon" href="https://www.puzztory.cn/static/images/favicon-mainpage.ico" />
    <link rel="bookmark" href="https://www.puzztory.cn/static/images/favicon-mainpage.ico" /> -->

    <!-- CSS -->
    <!-- <link rel="stylesheet/less" type="text/css" href="styles.less" /> -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->

    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    
    <style type="text/css">
        a:link {
            color:rgb(8, 53, 199);
            text-decoration:none;
        }
        a:visited {
            color: rgb(110, 67, 150);
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="row" style="margin: 20px">
        <form id="searchbar" class="offset-md-2 form-inline" action="{% url 'search' %}" method="POST">
            
            <div class="input-group" style="padding:5px">
                <input type="text" class="form-control"
                    value="搜索内容"
                    style="width: 10cm" name="searchinput" required>
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"
                            aria-hidden="true"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="row" style="margin: 20px">
        <div class="offset-md-2 col-md-9 list-group">
            <div style="border: 0px" class="list-group-item align-items-start">
                <a href="#" class="row" style="padding:0px; margin-bottom: 1px; font-size: 16px">标题标题标题标题标题标题标题</a>
                <a href="#" class="row" style="padding:0px; margin-bottom: 1px; font-size: 13px; color:rgb(18, 153, 18); text-decoration: none">urlurlurlurlurlurl</a>
                <p class="row" style="padding:0px; margin-bottom: 1px; font-size: 14px">内容内容内容内容内容内容内容内容内容</p>
            </div>
            <div style="border: 0px" class="list-group-item align-items-start">
                <a href="#"  target="_blank" class="row" style="padding:0px; margin-bottom: 1px; font-size: 16px">标题标题标题标题标题标题标题</a>
                <a class="row" style="padding:0px; margin-bottom: 1px; font-size: 13px">urlurlurlurlurlurl</a>
                <p class="row" style="padding:0px; margin-bottom: 1px; font-size: 14px">内容内容内容内容内容内容内容内容内容</p>
            </div>        
        </div>
    </div>
</body>